.black-nav{color:#fff;background:#000;width:100%;padding:10px;display:flex}div{box-sizing:border-box}.list{text-align:left;border-bottom:1px solid gray;padding-left:20px}.modal{text-align:left;background:#eee;margin-top:20px;padding:20px}
